<footer>
    <div class="footer-container">
        <div class="footer-t1">
            <div class="logo">
                <h5>Just<span>Stay</span></h5>
            </div>
            <div class="footer-t1_box">
                <p>Recusandae quos nesciunt veniam eum quia</p>
                <p>shaikhsaad256@gmail.com</p>
            </div>
        </div>

        <div class="footer-t2">
            <h4>Quick Links</h4>
            <ul>
                <li>Home</li>
                <li>About Us</li>
                <li>Rooms</li>
                <li>Services</li>
            </ul>
        </div>

        <div class="footer-t2">
            <h4>Quick Links</h4>
            <ul>
                <li>Home</li>
                <li>About Us</li>
                <li>Rooms</li>
                <li>Services</li>
            </ul>
        </div>

        <div class="footer-t2">
            <h4>Quick Links</h4>
            <ul>
                <li>Home</li>
                <li>About Us</li>
                <li>Rooms</li>
                <li>Services</li>
            </ul>
        </div>


    </div>
</footer>